@import "./styles/Mixin.scss";

.footer {
  padding: 100px 0 40px;
  position: relative;
  background: linear-gradient(to bottom, #520101, #2b0200);
  .links {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    @include pc {
      padding-bottom: 40px;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
    }
    @include sp {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    li {
      @include sp {
        &:nth-child(even) {
          border-left: 1px solid rgba($color: #fff, $alpha: 0.3);
        }
      }
    }
    a {
      font-size: 14px;
      @include sp {
        display: block;
        text-align: center;
      }
    }
  }
  .logo {
    display: block;
    margin: 0 auto 40px;
    width: 80px;
  }
  .info {
    margin-top: 40px;
    @include sp {
      display: none;
    }
    th,
    td {
      font-size: 14px;
    }
    th {
      text-align: left;
      vertical-align: top;
      width: 20%;
    }
    td {
      width: 80%;
    }
  }
  .copyright {
    margin-top: 60px;
    text-align: center;
    font-size: 12px;
    @include sp {
      margin-top: 40px;
      font-size: 11px;
    }
  }
}
