@import "./styles/Mixin.scss";

.galleryWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include sp {
    grid-template-columns: 1fr;
  }
  figure {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: vw(300,1366);
    @include sp {
      width: 100%;
      height: vw(240,375);
    }
    img {
      object-fit: cover;
      height: vw(300,1366);
      width: 100%;
      @include sp {
        height: vw(240,375);
      }
    }
  }
}
