@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Noto+Sans+JP:wght@400;500;700&family=Shippori+Mincho:wght@400;500;700&display=swap");
@import "./styles/Mixin.scss";

/*------------------------------------------------------------------------------
  reset PC
------------------------------------------------------------------------------*/
html,
input,
textarea,
select,
button {
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif, Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN,
    "ヒラギノ角ゴ ProN W3", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo;
  font-weight: 400;
  font-size: 16px;
}

html {
  color: var(--white);
  line-height: 1.6;
  overflow-wrap: break-word;
}

html.md-theme-default {
  margin-top: 0 !important;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #2d0000, #540101);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: 0.1em;
}

img {
  border: 0;
  margin: 0;
  vertical-align: top;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 1.67;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s;
}

input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  color: var(--white);
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

button {
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-family: "Shippori Mincho";
}

main {
  display: block;
  background: linear-gradient(to bottom, #2d0000, #540101);
}

#wrapper {
  position: relative;
}

dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .sp {
    display: none !important;
  }

  a[href^="tel:"] {
    pointer-events: none;
  }

  a,
  a::before,
  a::after,
  button {
    transition: all 0.3s;
  }
}

/*------------------------------------------------------------------------------
  reset SP
------------------------------------------------------------------------------*/

@media (max-width: 767px) {
  body {
    font-size: 14px;
    position: relative;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
  }
  #wrapper {
    min-width: 320px;
    position: relative;
    overflow: hidden;
  }

  input[type="submit"] {
    -webkit-text-size-adjust: 100%;
  }

  input,
  select,
  textarea {
    font-size: 16px !important;
  }
  .pc {
    display: none !important;
  }
  main {
    max-width: 767px;
  }
  video {
    width: 100%;
  }
}

/*------------------------------------------------------------------------------
  common
------------------------------------------------------------------------------*/

.sectionArea {
  padding: 140px 0;
  position: relative;
  @include sp {
    padding: 100px 0;
  }
}

.innerArea {
  width: calc(100% - 60px);
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  @include sp {
    max-width: 767px;
    width: calc(100% - 30px);
  }
}

.innerAreaWide {
  width: calc(100% - 60px);
  margin: 0 auto;
  position: relative;
  @include sp {
    width: calc(100% - 30px);
  }
}

.contentWrap {
  & + .contentWrap {
    margin-top: 100px;
  }
}

.bgBrown {
  margin-top: 300px;
  background-color: rgba($color: #2d0000, $alpha: 0.7);
  position: relative;
  @include sp {
    margin-top: 150px;
    background-color: rgba($color: #2d0000, $alpha: 1);
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -300px;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, transparent, rgba($color: #2d0000, $alpha: 0.7));
    @include sp {
      top: -150px;
      height: 150px;
    }
  }
}

/*------------------------------------------------------------------------------
  title
------------------------------------------------------------------------------*/

.title01 {
  font-weight: bold;
  margin-bottom: 50px;
  padding-bottom: 10px;
  position: relative;
  font-size: 30px;
  @include sp {
    font-size: 24px;
    margin-bottom: 30px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--white);
    left: 0;
    bottom: 0;
  }
  small {
    display: inline-block;
  }
}

.title02 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
  @include sp {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

* + .title02 {
  margin-top: 60px;
}

.title03 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  @include sp {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

/*------------------------------------------------------------------------------
  button
------------------------------------------------------------------------------*/

.button01 {
  max-width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  border: 1px solid transparent;
  background: rgba($color: #2b0200, $alpha: 0.5);
  margin: 0 auto;
  @include sp {
    width: 100%;
  }
  &:hover {
    @include pc {
      background: rgba($color: #2b0200, $alpha: 1);
    }
  }
  & + .button01 {
    margin-top: 10px;
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    margin-left: -14px;
    width: 20px;
  }
}

.link01 {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/*------------------------------------------------------------------------------
  page - menu
------------------------------------------------------------------------------*/

.menuWrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 40px;
}

.menuImageWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
  @include sp {
    grid-template-columns: 1fr;
  }
}

/*------------------------------------------------------------------------------
  page button wrap
------------------------------------------------------------------------------*/

.pageButtonWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  @include sp {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  &.mt {
    margin-top: 200px;
    @include sp {
      margin-top: 100px;
    }
  }
}

/*------------------------------------------------------------------------------
  top
------------------------------------------------------------------------------*/

.mainVisual {
  position: relative;
  width: 100%;
  @include pc {
    height: 100vh;
  }
  .background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    @include pc {
      position: fixed;
      top: 0;
    }
    @include sp {
      width: calc(100% + 30px);
      max-width: 767px;
      margin: 0 -15px;
      height: calc(100vh / 3);
      top: calc(100vh / 4);
    }
    video {
      opacity: 0.6;
      @include pc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 100%;
        min-width: 100%;
      }
      @include sp {
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-width: 767px;
      }
    }
  }

  .message {
    width: 100%;
    position: relative;
    @include pc {
      padding: 40px 0px;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
    }
  }

  .title {
    text-align: center;
    font-size: 40px;
    position: relative;
    z-index: 2;
    @include pc {
      margin-bottom: 40px;
    }
    @include sp {
      height: calc(100vh / 4);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
    }
  }

  .text {
    text-align: center;
    line-height: 2;
    font-size: 18px;
    position: relative;
    z-index: 2;
    @include sp {
      height: calc((100vh / 5) * 2);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
  }
}

/*------------------------------------------------------------------------------
  color
------------------------------------------------------------------------------*/

:root {
  --white: #fff;
  --black: #000;
}
