@import "./styles/Mixin.scss";

.keyVisual {
  height: 400px;
  background-color: #ddd;
  position: relative;
  @include sp {
    height: 200px;
  }
  picture {
    position: relative;
    width: 100%;
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
      @include sp {
        height: 200px;
      }
    }
  }
  .title {
    font-size: clamp(3.75rem, 2.367rem + 6.01vw, 7.5rem); //120-60
    line-height: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Cormorant Garamond';
    margin-bottom: -0.5em;
  }
}
