@import "./styles/Mixin.scss";

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  @include sp {
    font-size: 22px;
  }
}

.text {
  text-align: center;
  line-height: 2;
  font-size: 18px;
  @include sp {
    font-size: 14px;
  }
}