@import "./styles/Mixin.scss";

.thumbnail {
  position: relative;
  margin: 0 auto 40px;
  @include pc {
    width: calc(100% - 600px);
  }
  img {
    width: 100%;
    object-fit: cover;
    @include sp {
      height: 200px;
    }
  }
}

.intro {
  @include pc {
    text-align: center;
  }
}

.table {
  width: 100%;
  th, td {
    padding: 14px;
    border: 1px solid rgba($color: #fff, $alpha: 0.3);
    word-break: break-all;
  }
  th {
    text-align: left;
    width: 25%;
    @include sp {
      width: 40%;
    }
  }
  td {
    width: 75%;
    @include sp {
      width: 60%;
    }
  }
}

p + .table {
  margin-top: 1em;
}
