@import "./styles/Mixin.scss";

.pageNav {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @include pc {
    max-width: 720px;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
  @include sp {
    gap: 20px;
    grid-template-columns: 1fr;
  }
  &:hover {
    img {
      @include pc {
        transform: scale(1.1);
      }
    }
  }
  & + .pageNav {
    margin-top: 100px;
  }
  figure {
    position: relative;
    border-radius: 150px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    @include sp {
      border-radius: 100%;
      height: vw(345,375);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
    }
  }
}

.title {
  color: #b24242;
  font-size: 34px;
  line-height: 1.3;
  margin-bottom: 10px;
  font-weight: bold;
  @include sp {
    font-size: 28px;
  }
}

.content {
  line-height: 1.8;
  @include sp {
    font-size: 14px;
  }
}

.link {
  margin-top: 30px;
  position: relative;
  font-family: "Shippori Mincho";
  line-height: 1;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include pc {
    text-align: right;
  }
  @include sp {
    font-size: 16px;
    margin-top: 20px;
  }
  &::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #fff;
  }
}
