@import "./styles/Mixin.scss";

.pageNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 720px;
  gap: 40px;
  margin: 0 auto;
  & + .pageNav {
    margin-top: 100px;
  }
  figure {
    position: relative;
    img {
      border-radius: 150px;
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }
}

.title {
  color: #B24242;
  font-size: 50px;
  font-family: 'Cormorant Garamond';
}

.content {
  line-height: 2;
  font-family: "Shippori Mincho";
}

.link {
  margin-top: 30px;
  font-size: 22px;
  position: relative;
  font-family: 'Cormorant Garamond';
  position: relative;
  line-height: 1;
  &::after {
    content: "";
    display: inline-block;
    background-color: rgba($color: #fff, $alpha: 0.3);
    width: 100px;
    height: 1px;
    margin-left: 10px;
    vertical-align: middle;
  }
}