@import "./styles/Mixin.scss";

.pageButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba($color: #2b0200, $alpha: 0.5);
  &:hover {
    @include pc {
      background: rgba($color: #2b0200, $alpha: 1);
    }
  }
  figure {
    position: relative;
    width: 160px;
    height: 160px;
    @include sp {
      width: 100px;
      height: 100px;
    }
  }
}

.info {
  width: calc(100% - 200px);
  padding: 10px 20px 10px 0;
  @include sp {
    width: calc(100% - 120px);

  }
  .en, .ja {
    display: block;
  }
  .en {
    font-size: 56px;
    line-height: 1;
    font-family: 'Cormorant Garamond';
    font-size: clamp(1.25rem, 0.42rem + 3.61vw, 3.5rem); //56-22
  }
  .ja {
    margin-top: 2px;
    font-family: "Shippori Mincho";
    font-size: clamp(0.875rem, 0.783rem + 0.4vw, 1.125rem); //18-14
  }
}