@import "./styles/Mixin.scss";

.pageButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba($color: #000, $alpha: 0.3);
  figure {
    position: relative;
    width: 160px;
    height: 160px;
    @include sp {
      width: 100px;
      height: 100px;
    }
  }
}

.info {
  width: calc(100% - 200px);
  @include sp {
    width: calc(100% - 120px);
  }
  .en, .ja {
    display: block;
  }
  .en {
    font-size: 56px;
    line-height: 1;
    font-family: 'Cormorant Garamond';
    @include sp {
      font-size: 20px;
    }
  }
  .ja {
    margin-top: 2px;
    font-size: 18px;
    font-family: "Shippori Mincho";
    @include sp {
      font-size: 14px;
    }
  }
}